@media (max-width: 1199px) {
  .off-canvas {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;
    height: 100vh;
    width: 340px;
    background: hsl(0, 0%, 100%);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.6, 0.6, 0.4, 1.1),
      box-shadow 0.3s cubic-bezier(0.6, 0.6, 0.4, 1.1);
    z-index: 10;

    .off-canvas--is-open & {
      box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.15);
      transform: translateX(20px);
    }

    &__overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      visibility: hidden;
      z-index: -1;
      background-color: hsla(0, 0%, 0%, 0.4);
      opacity: 0;
      transition: opacity 0.3s ease-in-out, z-index 0s 0.3s ease-in-out,
        visibility 0s 0.3s ease-in-out;

      .off-canvas--is-open & {
        visibility: visible;
        z-index: 9;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, z-index 0s 0s ease-in-out,
          visibility 0s 0s ease-in-out;
      }
    }
  }
}
