<!-- Demo modal. -->
<div class="modal" data-toggle-content="demo">
  <div class="modal__inner demo">
    <div class="modal__header">
      <h3 class="modal__title">Request a Demo</h3>
      <button class="button button--icon modal__close" type="button" data-toggle-close="demo"><icon data-name="close"></icon></button>
    </div>

    <div class="modal__content">
      <div>
        <form data-validate>
          <div class="field">
            <input class="field__input" type="text" name="demo__first-name" id="demo__first-name" data-bouncer-target="[for='demo__first-name']" required>
            <label class="field__label" for="demo__first-name">First Name*</label>
          </div>
          <div class="field">
            <input class="field__input" type="text" name="demo__last-name" id="demo__last-name" data-bouncer-target="[for='demo__last-name']" required>
            <label class="field__label" for="demo__last-name">Last Name*</label>
          </div>
          <div class="field">
            <input class="field__input" type="email" name="demo__email" id="demo__email" data-bouncer-target="[for='demo__email']" required>
            <label class="field__label" for="demo__email">Email*</label>
          </div>
          <div class="field">
            <input class="field__input" type="tel" name="demo__phone" id="demo__phone" data-bouncer-target="[for='demo__phone']">
            <label class="field__label" for="demo__phone">Phone</label>
          </div>
          <div class="field">
            <input class="field__input" type="text" name="demo__company" id="demo__company" data-bouncer-target="[for='demo__company']">
            <label class="field__label" for="demo__company">Company</label>
          </div>
          <div class="field">
            <textarea class="field__input" rows="5" name="demo__message" id="demo__message" data-bouncer-target="[for='demo__message']"></textarea>
            <label class="field__label" for="demo__message">Message</label>
          </div>
          <p class="demo__disclaimer">DirectScale needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our Privacy Policy.</p>
          <p>
            <button class="button button--primary" type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
