.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 1rem;
  appearance: none;
  background-color: var(--ds-dark-blue);
  border-radius: 2px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  text-transform: lowercase;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--ds-gray);
    border-color: var(--ds-gray);
    color: hsl(0, 0%, 100%);
  }

  + .button {
    margin-left: 1rem;
  }
}

.button--icon {
  display: inline-flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
  background-color: transparent;
  color: var(--dark);
  fill: var(--gray);

  svg {
    height: 20px;
    margin-right: 0.25em;
  }

  &:hover,
  &:focus {
    background-color: hsla(0, 0%, 0%, 0.08);
    color: var(--dark);
    cursor: pointer;
  }
}

.button--primary {
  background-color: var(--ds-orange);
}

.button--outlined {
  background-color: transparent;
  border: 2px solid var(--ds-gray);
  color: var(--ds-gray);
}
