<hero-section
  class="your-needs"
  data-heading="Designed for your needs."
  data-theme="gray"
  data-center="true"
>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu neque nec ipsum accumsan condimentum. Integer vulputate consequat felis, a semper elit elementum quis.</p>

  <div class="your-needs__toggles">
    <button class="button button--tab toggle" type="button" data-toggle="enable">Enable your sales</button>
    <button class="button button--tab toggle" type="button" data-toggle="develop">Develop businesses</button>
  </div>

  <div class="your-needs__content">
    <div class="your-needs__row" data-toggle-content="enable" data-toggle-flex="true">
      <hero-icon
        data-heading="Field training"
        data-image="field-training"
      >
        <p>Configure modules and provide the resources that drive success.</p>
      </hero-icon>
      <hero-icon
        data-heading="Share with pride"
        data-image="share-with-pride"
      >
        <p>Show off all your best assets with quick and easy share functions.</p>
      </hero-icon>
      <hero-icon
        data-heading="21st-century shopping"
        data-image="mobile"
      >
        <p>Integrate a simple, modern eCommerce and guest checkout system.</p>
      </hero-icon>
      <hero-icon
        data-heading="Strength in numbers"
        data-image="strength-in-numbers"
      >
        <p>Communicate easily with your entire team right in the web office.</p>
      </hero-icon>
    </div>

    <div class="your-needs__row" data-toggle-content="develop" data-toggle-flex="true">
      <hero-icon
        data-heading="Commission Engine"
        data-image="commission-engine"
      >
        <p>Make it easy to view commissions payout options and history.</p>
      </hero-icon>
      <hero-icon
        data-heading="eCommerce"
        data-image="ecommerce"
      >
        <p>Manage authships and keep track of orders, all from your mobile device.</p>
      </hero-icon>
      <hero-icon
        data-heading="Rank up"
        data-image="rank-up"
      >
        <p>Motivate loyalty with customizable progress widgets and training tools.</p>
      </hero-icon>
      <hero-icon
        data-heading="Eyes on the ball"
        data-image="eyes-on-the-ball"
      >
        <p>Empower field users to drill down to view performance details.</p>
      </hero-icon>
    </div>
  </div>
</hero-section>