<hero-section
  data-heading="Walk before you can run."
  data-center="true"
>
  <p>Create personalized web office experiences that help distributors drive the success of their business. DIY configurability enables corporate users to target distributors at every step of the lifecycle with the support and training they need to earn more income and stay loyal, all without writing a single line of code.</p>

  <div class="walk-run__section">
    <div class="walk-run__content">
      <h3 class="walk-run__subtitle">Promote your agenda.</h3>
      <p>Web Office banners and login events keep field users engaged, informed, and educated.</p>
      <ul>
        <li>Display custom announcements.</li>
        <li>Schedule content to update automatically</li>
        <li>Segment by language, region, and rank</li>
      </ul>

      <div class="walk-run__toggles">
        <button class="button button--tab" data-toggle="admin" type="button">Admin edit</button>
        <button class="button button--tab" data-toggle="backoffice" type="button">Backoffice</button>
      </div>
    </div>

    <div class="walk-run__media toggle__tabs">
      <div data-toggle-content="admin">
        <img src="../assets/images/admin.jpg" alt="Admin edit">
      </div>
      <div data-toggle-content="backoffice">
        <img src="../assets/images/backoffice.jpg" alt="BackOffice">
      </div>
    </div>
  </div>

  <div class="walk-run__section">
    <div class="walk-run__content">
      <h3 class="walk-run__subtitle">Have it your way.</h3>
      <p>Custom branding keeps your company at the top of mind, motivating loyalty and user growth.</p>
      <ul>
        <li>Unique landing and login page</li>
        <li>Configurable company colors and logos</li>
        <li>Rank-specific iconography</li>
      </ul>
    </div>

    <div class="walk-run__media">
      <img src="../assets/images/custom.jpg" alt="Have it your way">
    </div>
  </div>

  <div class="walk-run__section">
    <div class="walk-run__content">
      <h3 class="walk-run__subtitle">Make it personal.</h3>
      <p>Communication between field users keeps teams connected and revenue growing.</p>
      <ul>
        <li>Downline mass messaging</li>
        <li>Direct, user-to-user chat</li>
        <li>Offline SMS and email notifications</li>
      </ul>
    </div>

    <div class="walk-run__media">
      <img src="../assets/images/communication.jpg" alt="Make it personal.">
    </div>
  </div>
</hero-section>