.home__banner {
  .hero__title {
    margin-top: 2rem;
    font-size: 52px;
  }

  .hero__inner {
    align-items: center;
  }

  .hero__image {
    display: flex;
    max-width: 400px;
  }

  .button--outlined {
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);

    &:hover,
    &:focus {
      border-color: var(--ds-gray);
    }
  }
}

.home__testimonials {
  .hero__content {
    width: 100%;
  }

  .hero__bg {
    opacity: 0.2;
  }
}

@media (--laptop) {
  .home__banner {
    .hero__title {
      margin-top: 0;
    }

    .hero__image {
      max-width: 600px;
      margin-bottom: -2rem;
      padding-left: 1rem;
    }
  }

  .home__testimonials {
    .hero__content {
      width: 65%;
    }
  }
}
