.home__banner {
  .hero__title {
    margin-top: 2rem;
    font-size: 52px;
  }

  .hero__inner {
    align-items: center;
  }

  .hero__image {
    display: flex;
    max-width: 400px;
  }

  .button--outlined {
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);

    &:hover,
    &:focus {
      border-color: var(--ds-gray);
    }
  }
}

.home__testimonials {
  .hero__content {
    width: 100%;
  }
}

.home__demo {
  .button--primary {
    margin-top: 1.5rem;
  }

  .hero__inner {
    flex-direction: column;
    justify-content: flex-start;
    height: 440px;
  }

  .hero__title {
    margin-top: 0;
  }

  .hero__bg {
    background-size: 620px;
    background-position: 50% 100%;
  }
}

@media (--laptop) {
  .home__banner {
    .hero__title {
      margin-top: 0;
    }

    .hero__image {
      max-width: 600px;
      margin-bottom: -3rem;
      padding-left: 1rem;
    }
  }

  .home__testimonials {
    .hero__content {
      width: 65%;
    }
  }

  .home__demo {
    .hero__inner {
      height: 500px;
    }

    .hero__bg {
      background-size: 1000px;
    }
  }
}
