@media (--to-desktop) {
  .nav {
    flex-grow: 1;

    hr {
      width: 60%;
      margin: 0.5rem auto;

      &:last-of-type {
        display: none;
      }
    }
  }

  .nav__off-canvas {
    display: flex;
    flex-direction: column;
    padding: 3rem calc(1rem + 20px) 1rem 1rem;
  }

  .nav__contact {
    .button {
      width: 100%;
      margin: 0;
    }
  }

  .nav__chevron {
    display: none;
  }

  .nav__link,
  .nav__sublink {
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--dark);
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--ds-dark-blue);
    }
  }
  .nav__link {
    color: var(--dark);

    .nav__menu & {
      font-weight: 600;

      &:hover,
      &:focus {
        color: var(--dark);
      }
    }
  }
}

@media (--from-desktop) and (--to-wide) {
  .nav__contact {
    .button--icon {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      svg {
        margin: 0;
      }
    }
  }
  .nav__search-label,
  .nav__phone-label {
    display: none;
  }
}

@media (--from-desktop) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .nav__off-canvas {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .nav__chevron {
    position: absolute;
    right: -18px;
    top: calc(50% - 8px);
    width: 16px;
    fill: var(--dark);
    transition: fill 0.2s ease-in-out;
  }

  .nav__link:hover .nav__chevron,
  .nav__link:focus .nav__chevron {
    fill: var(--ds-dark-blue);
  }

  .nav__link,
  .nav__sublink {
    position: relative;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: var(--dark);
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .nav__link {
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .nav__link:hover,
  .nav__link:focus,
  .nav__menu:hover .nav__link {
    color: var(--ds-dark-blue);
  }
  .nav__link:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--ds-dark-blue);
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;

    .nav__menu & {
      display: none;
    }
  }
  .nav__link:hover:after,
  .nav__link:hover:after {
    left: 0;
    width: 100%;
  }

  .nav__sublink {
    display: block;
    color: hsla(0, 0%, 100%, 1);
  }
  .nav__sublink:hover,
  .nav__sublink:focus {
    background-color: hsla(var(--ds-dark-blue--hue), 100%, 10%, 0.5);
    color: hsl(0, 0%, 100%);
  }

  .nav__menu {
    position: relative;
    padding: 0.5rem 0;
  }
  .nav__submenu {
    position: absolute;
    top: calc(100% - 2px);
    min-width: 140%;
    background-color: hsla(var(--ds-dark-blue--hue), 100%, 37%, 0.8);
    border-top: 2px solid var(--ds-dark-blue);
    box-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.2);
    transform: perspective(6000px) rotateY(-90deg);
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    z-index: 10;
  }
  .nav__menu:focus-within .nav__submenu,
  .nav__menu:hover .nav__submenu {
    display: block;
    transform: perspective(6000px) rotateY(0deg);
  }

  .nav__contact {
    display: flex;
    align-items: center;
  }
  .nav__contact .button + .button {
    margin-left: 0.25rem;
  }

  .nav__search-icon {
    height: 24px;
    width: 24px;
  }
}
