/*------------------------------------------------------------------------------
* Hero elements.
*/

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__inner {
  display: flex;
  flex-direction: column-reverse;
  max-width: calc(1200px + 6rem);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
  position: relative;
  z-index: 1;
}

.hero__title {
  color: var(--ds-dark-blue);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.hero__subtitle {
  margin-bottom: 0.5rem;
  margin-top: -0.25rem;
  color: var(--ds-gray);
  font-size: 18px;
  font-weight: 600;
}

.hero__lede {
  font-size: 20px;
}

.hero__cta {
  margin-top: 1rem;
  text-align: center;

  & .button {
    min-width: 50%;

    + .button {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
}

.hero__image {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.hero__bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*------------------------------------------------------------------------------
* Hero modifications.
*/

.hero--fade-bg {
  .hero__bg {
    opacity: 0.2;
  }
}

.hero--centered {
  overflow: hidden;

  .hero__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero__content {
    width: 100%;
  }

  .hero__image {
    margin-bottom: -5rem;
    margin-top: 1.5rem;
  }
}

.hero--gray {
  background-color: var(--light-gray);
}

.hero--blue {
  background-color: var(--ds-blue);
  color: hsl(0, 0%, 100%);

  .hero__title,
  .hero__subtitle {
    color: hsl(0, 0%, 100%);
  }
}

.hero--green {
  background-color: var(--ds-green);
  color: hsl(0, 0%, 100%);

  .hero__title,
  .hero__subtitle {
    color: hsl(0, 0%, 100%);
  }

  ::selection {
    background-color: var(--ds-orange);
  }
}

@media (--tablet) {
  .hero__inner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (--laptop) {
  .hero {
    flex-direction: row;
    align-items: center;
  }

  .hero__inner {
    flex-direction: row;
    align-items: center;

    .hero--flip & {
      flex-direction: row-reverse;
    }
  }

  .hero__image {
    padding-left: 2rem;

    .hero--flip & {
      padding-left: 0;
      padding-right: 2rem;
    }
  }

  .hero__cta {
    margin-top: 2rem;
    text-align: left;

    .button {
      min-width: 0;

      + .button {
        margin-top: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .hero--has-image {
    .hero__content,
    .hero__image {
      width: 50%;
    }
  }
}
