.hero {
  display: flex;
  flex-direction: column;

  &--gray {
    background-color: hsl(204, 33%, 97%);
  }
}

.hero__inner {
  display: flex;
  flex-direction: column-reverse;
  max-width: calc(1200px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.hero__title {
  color: var(--ds-dark-blue);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.hero__lede {
  font-size: 20px;
}

.hero__cta {
  margin-top: 1rem;
  text-align: center;

  .button {
    min-width: 50%;

    + .button {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
}

.hero__image {
  text-align: center;

  img {
    max-width: 100%;
  }
}

@media (--tablet) {
  .hero__inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (--laptop) {
  .hero {
    flex-direction: row;
    align-items: center;
  }

  .hero__inner {
    flex-direction: row;
    align-items: center;

    .hero--flip & {
      flex-direction: row-reverse;
    }
  }

  .hero__content,
  .hero__image {
    width: 50%;
  }
  .hero__image {
    padding-left: 2rem;

    .hero--flip & {
      padding-left: 0;
      padding-right: 2rem;
    }
  }

  .hero__cta {
    margin-top: 2rem;
    text-align: left;

    .button {
      min-width: 0;

      + .button {
        margin-top: 0;
        margin-left: 0.5rem;
      }
    }
  }
}
