<header class="header">
  <!-- DS Logo. -->
  <a class="header__logo" href="<%= rootPath %>"><icon data-name="logo"></icon></a>

  <!-- Off-canvas navigation. -->
  <off-canvas class="nav__off-canvas">
    <div unwrap>
      <app-nav></app-nav>
    </div>
  </off-canvas>

  <!-- Hamburger toggle. -->
  <hamburger></hamburger>
</header>

<demo-modal></demo-modal>
