<header class="header">
  <!-- DS Logo. -->
  <a class="header__logo" href="//directscale.com"><icon name="logo"></icon></a>

  <!-- Off-canvas navigation. -->
  <off-canvas class="nav__off-canvas">
    <div slot="content" unwrap>
      <app-nav></app-nav>
    </div>
  </off-canvas>

  <!-- Hamburger toggle. -->
  <hamburger></hamburger>
</header>