* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--ds-green);
}

a {
  color: var(--ds-dark-blue);
}

svg {
  width: 1rem;
  fill: inherit;
}
path {
  fill: inherit;
}

hr {
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
}

::selection {
  background-color: var(--ds-green);
}
